@charset "utf-8";
#head{
	margin: 0;
	width: 100%;
	height: 90px;
	background-color: #69c2ec;
	font-family: "Microsoft YaHei";  
}
 #head p{
 	float: left;
	height: 90px;
	width: 50%;
    color: white;
	padding-left: 40px;
	line-height: 90px;
	font-weight: 600;
	font-size: 40px;
}
.img{
	float: left;
	background-image: url("../images/logo.jpg");
	background-repeat: no-repeat;
	height: 90px;
	margin-left: 400px;
	margin-top: 2px;
	width: 120px;
 }
 *{
 	margin: 0;
	 font-family: "Microsoft YaHei" ! important;
 }
.custom{
	display: block;
	height: 30px;
	float: left;
	margin-top: 50px;
	color: rgb(154, 153, 153);
	font-size: 22px;
	text-decoration: none;
	text-align: right;
	padding: 0 20px;
	margin-left: 610px;
 }
 hr{
	clear: both;
	width: 40%;
	height: 2px;
	background-color: #999999;
	margin-top: 96px;
	border-radius: 2px;
	margin-left: 380px;
}
#login{
	width: 480px;
	margin-left: 450px;
}
#login #name{
	width: 100%;
	height: 30px;
	margin-top: 60px;
}
#login #paw{
	width: 100%;
	height: 30px;
	padding-top: 42px;
}
#login span{
	float: left;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 18px;
	font-weight: 600;
	color: #777;
	margin-left: 20px;
}
#login input{
	float: left;
	height: 30px;
	width: 258px;
	font-size: 16px;
	border: 1px solid #D2D2D2;
	margin-left: 16px;
}
#login input[type="submit"]{
	width: 262px;
	height: 33px;
	color: #fff;
	font-size: 19px;
	font-weight: 500;
	border-radius: 2px;
	margin-left: 108px;
	margin-top: 42px;
	background-color: #69c2ec;
	border-radius: 3px;
}
#notice{
	width: 100%;
	height: 40px;
}
#notice span{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	text-align: center;
	color: #777;
	font-size: 13px;
}
#notice span a{
	text-decoration: none;
	font-size: 14px;
}